<div>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h4>Product Edit</h4>
                <a routerLink="/products"
                    class="btn btn-danger float-end">Back</a>
            </div>
            <div class="card-body">

                <form (ngSubmit)="updateProduct()">
                    <div *ngIf="product">
                        <div class="mb-3">
                            <label class="text-primary">Product  ID: {{product.product_id}}</label><br>
                            <label>Product Name</label>
                            <input type="text"
                                [(ngModel)]="product.product_name"
                                name="product_name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label>Product Price</label>
                            <input type="number"
                                [(ngModel)]="product.product_price"
                                name="product_price" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label>Product Category Id</label>
                            <input type="number"
                                [(ngModel)]="product.category_id"
                                name="catrgory_id" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit"
                            class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>