<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1>Product & Category CRUD Application</h1>
        </div>
        <div class="card-body">
            <label class="text-primary">Technology:</label><br>
            <ol>
                <li>Angular</li>
                <li>NodeJS</li>
                <li>MySQL</li>
            </ol>
            <p class="text-danger">Product and Category crud operation option in navebar</p>
        </div>
    </div>

</div>